<!-- inline code is executed in the context of the component state (which is injected into middlewares) -->
<!-- '$' prefix means one time interpolation, '@' prefix means dynamic interpolation -->
<div @if="story">
  <div enter-animation="fadeIn .6s .3s">
    <story-item $story></story-item>
    <dynamic-html $content="story.text" class="story-text"></dynamic-html>
    <lu $repeat="story.kids" repeat-value="commentId">
      <li is="comment-item" $comment-id="commentId"></li>
    </lu>
  </div>
</div>
